<header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="Dashboard/Users">
            <img src="../../../../assets/images/avatar.jpg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0 ml-auto">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onLogout()">Logout</button>
          </form>
        </div>
      </nav>
</header>