<div class="user-view">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="user-img">
                    <img *ngIf="user.avatar" [src]="user.avatar" alt="User Image">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="user-data">
                    <h2>{{user.first_name}} {{user.last_name}}</h2>
                    <h3>{{user.email}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>