<div class="create">
    <div class="container">
        <div class="row">

            <div class="create-form col-md-8 col-sm-12 offset-md-2">
                <!-- <img src="../../../../assets/images/edit.svg"> -->
                <i class="fas fa-user-plus"></i>
                        <h3>create</h3>
                    <form #create="ngForm">
    
                        <div class="id mb-4">
                            <div class="input-group form-group">
                              <div class="input-group-prepend">
                                  <span><i class="fa fa-user"></i></span>
                              </div>
                              <input id="id" ngModel #id="ngModel" type="number" required class="form-control" name="id" placeholder="ID" minlength="3">
                              <div *ngIf="submitted && !(id.valid)" class="error-msg">Please enter valid id.</div>
                            </div>
                          </div>
    
    
                        <div class="first-name mb-4">
                          <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span><i class="fa fa-user"></i></span>
                            </div>
                            <input id="first_name" ngModel #first_name="ngModel" type="text" required class="form-control" name="first_name" placeholder="First Name" minlength="3">
                            <div *ngIf="submitted && !(first_name.valid)" class="error-msg">Please enter valid name.</div>
                          </div>
                        </div>
        
                        <div class="last-name mb-4">
                            <div class="input-group form-group">
                              <div class="input-group-prepend">
                                  <span><i class="fa fa-user"></i></span>
                              </div>
                              <input id="last_name" ngModel #last_name="ngModel" type="text" required class="form-control" name="last_name" placeholder="Last Name" minlength="3">
                              <div *ngIf="submitted && !(last_name.valid)" class="error-msg">Please enter valid name.</div>
                            </div>
          
                            
                          </div>
        
                          <div class="email mb-4">
                            <div class="input-group form-group">
                              <div class="input-group-prepend">
                                  <span><i class="fa fa-envelope"></i></span>
                              </div>
                              <input id="email" ngModel #email="ngModel" type="email" required class="form-control" name="email" placeholder="Email" minlength="3">
                              <div *ngIf="submitted && !(email.valid)" class="error-msg">Please enter valid email.</div>
                            </div>
                          </div>
        
                          <div class="avatar mb-4">
                            <div class="input-group form-group">
                              <div class="input-group-prepend">
                                  <span><i class="fa fa-image"></i></span>
                              </div>
                              <input id="avatar" ngModel #avatar="ngModel" type="text" required class="form-control" name="avatar" placeholder="Image" minlength="3">
                              <div *ngIf="submitted && !(avatar.valid)" class="error-msg">Please enter valid image.</div>
                            </div>
                          </div>
        
                          <button type="submit btn" class="btn mb-5" (click)="onCreate(create)">create</button>
                         
                    </form>
            </div>

            

        </div>
    </div>
</div>